@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #0d0d0d !important; 
  color: #ffffff !important; 
}

.landing-page {
  background-image: url('/images/redandblack.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.landing-page-content {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
}


h1, p {
  margin: 0;
  padding: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

.landing-page-content {
  background-color: rgba(0, 0, 0, 0.7); 
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
}

a {
  color: #e60000 !important; 
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline !important;
}

button {
  font-family: 'Roboto', sans-serif !important;
  background-color: #e60000 !important; 
  color: #f2f2f2 !important; 
  padding: 0.5rem 1rem !important;
  border-radius: 4px !important;
  transition: background-color 0.3s !important;
}

button:hover {
  background-color: #cc0000 !important; 
  color: #ffffff !important; 
}

.navbar {
  background-color: #1a1a1a !important; 
}

.navbar-brand, .nav-link {
  color: #f2f2f2 !important; 
} 

.nav-link:hover {
  color: #e60000 !important; 
}

.announcements {
  background-color: #2c2c2c !important; 
  color: #f2f2f2 !important; 
  padding: 1rem !important; 
  border-radius: 4px !important; 
}

.announcements a {
  color: #ffeb3b !important; 
}

.announcements a:hover {
  color: #e60000 !important;
}
